@model EntityLayer.Concrete.Category

@{
    Layout = null;
}


<h1> Yeni Kategori Ekleme Sayfası</h1>

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="" form-group">
        @Html.Label("Kategori Adı")
        @Html.TextAreaFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /><br />
        <button>Kaydet</button>
    </div>
}

@*<form class="form-group" method="post">
        <input type="text" placeholder="Kategori Adı" class="form-control" name="CategoryName" />
        <input type="text" placeholder="Kategori Açıklaması" class="form-control" name="CategoryDescription" />
        <button class="btn btn-primary">Ekle</button>
    </form>*@ 