@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<h1>Kategori Güncelleme Sayfası</h1>

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Id")
        @Html.TextAreaFor(x => x.CategoryId)
        <br /><br />
        @Html.Label("Kategori Adı")
        @Html.TextAreaFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br /><br />
        <button>Kaydet</button>
    </div>
}
