@model EntityLayer.Concrete.Heading

@{
    Layout = null;
}


<h1> Yeni Başlık Ekleme Sayfası</h1>

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="" form-group">
        @Html.Label("Başlık")
        @Html.TextAreaFor(x => x.HeadingName)
        <br /><br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc)
        <br /><br />
        @Html.Label("Yazar")
        @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.vlw)
        <br /><br />
        <button>Kaydet</button>
    </div>
}